
.result {
	font-size: 50px;
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	
}

.tile{
	margin: 5px;
	border: 2px solid white;
	height: 60px;
	width: 40px;
	color: white;
	text-align: center;
	padding: 2px;
	
}

.tileSpace{
	margin: 40px;

}
.score {
	background-color: white;
	width:45px;
	border: 2px solid white;
	height: 110px;


}
