// div {
// 	display: inline;
// }


.result {
	font-size: 50px;
	display: flex;

}

.tile{
	margin: 20px;
	border: 10px solid white;
	height: 50px;
	width: 60px;
	color: white;
	padding: 0px;
	text-align: center;
	
}

.tileSpace{
	margin: 40px;

}
.score {
	background-color: white;
	width:45px;
	border: 2px solid white;
	height: 110px;


}
